.custom-scrollbar {
    overflow-y: scroll;
    /* height: 200px; Example height */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100%;
   
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb{
    background-color: #cccccc8f;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    position: absolute;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
   
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
